/*======================inform=====================*/
.inform_title{
	width: 100%;
}
.inform_title>span{
	display: block;
	width: 10%;
	margin: 0 auto;
	
	font:2rem "微软雅黑";
	border: 2px solid #ffe001;
	text-align: center;
	border-radius: 10px;
	margin-top: 1%;
	/*margin-bottom: 1%;*/
	overflow: hidden;
	transition: all 2s;
}
.inform_title>span:hover{
	background: #ffe001;
	color: #fff;
	transform:rotate(720deg);
	/*transform:matrix(0.866,0.5,-0.5,0.866,0,0);*/
}
.inform{
	width: 70%;
	margin:  0 auto;
	/*background:#000;*/
	overflow: hidden;
}
.tabmune{
	width: 80%;
	margin: 0 auto;
	background: #ffe001;
	/*margin-left: 3%;*/
	/*border-bottom: 1px solid #000;*/
}
.tabmune ul{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	/*background: red;*/

	

	
}
.tabmune ul li{
	float: left;
	padding: 2%;
	font:2rem "微软雅黑";
	width: 17%;
	/*margin-left: 1.5%;*/
	/*margin: 0 auto;*/
	text-align: center;
	/*border-right: 1px solid #000;*/
	margin-left: -5px;

	
}
.tabmunebg{
	background: white;
}
.tabmune ul li:last-child{
	border-right: none;
}
.tabbox{
	overflow: hidden;
}
.inform-content{
	float: left;
	width:65%;
	/*margin: 0 auto;*/
	/*background: red;*/
	border: 1px solid #ccc;
	overflow: hidden;
	margin-top: 3%;
	box-shadow:2px 2px 3px #aaaaaa;
}
.inform-class{
	width: 100%;
	margin: 2%;
  /*overflow: hidden;*/
  margin-bottom: 2%;
  border-bottom: 1px dashed #333;
  overflow: hidden;
  padding: 3%;
}
.inform-class:hover{
	background: #fafafa;
}
.inform-class:last-child{
	border-bottom: none;
}
.inform-content .inform-class span{
	display: block;
}
.inform-content .inform-class span:nth-child(1){
	width: 15%;
	font:1.5rem "微软雅黑";
	float: left;
	margin-left: 1%;
	display: block;

}
.inform-content .inform-class p{
	width: 70%;
	display: block;
	float: left;
	font:1.5rem "微软雅黑";
	/*margin-left: 3%;*/
}
.inform-content .inform-class a:hover{
	text-decoration: underline;
	color: #333;
}

.inform-aside{
	float: left;
	width: 30%;
	margin-left: 3%;
	overflow: hidden;
	margin-top: 3%
}
.inform-aside span{
	font:2rem "微软雅黑";
	display: block;
	width: 40%;
	overflow: hidden;
}
.inform-aside .notelist{
	padding-top: 3%;
	width: 100%;
	overflow: hidden;
	width: 100%;background: #fafafa;
	height: 25rem;


}
.inform-aside .notelist ul{
	width: 100%;
	overflow: hidden;
}
.inform-aside .notelist ul li{
	font:1.5rem "微软雅黑";
	padding: 3%;
	
}
.inform-aside .notelist ul li a{
	color: #333;
}
.inform_ban{
	clear: both;
	/*background: #ff0;*/
	width: 70%;
	margin: 0 auto;
	margin-top: 2%;
	overflow: hidden;
	position: relative;
	/*height: 25rem;*/
}
.ban_left{
	width: 100%;
	overflow: hidden;
	height: 100%;
	
}
.inform_ban .ban_left img{
	width:100%;
	position: relative;
	transition:all 8s;

}
.inform_ban .ban_left img:hover{
	transform: rotateY(180deg);
}
/*.ban_left img::after{
	content:"";
	display: block;
	width: 100%; 
	height: 100%; 
	background: rgba(255,255,255,0.5);
     position: absolute;
     top:0;
     transform: scaleX(0);
 }
.ban_left img:hover::after{transform: scaleX(1);}*/
.ban_right{
	background:rgba(255,255,255,0.4);
	width: 45%;
	height: 30rem;
	overflow: hidden;
	position: absolute;
	right:0;
	top:0;
	/*border: 1px solid #ccc;*/
}
.ban_right:hover{
	background:rgba(255,255,255,0.8);
}
.ban_right span{
	font:2rem "微软雅黑";
}
.ban_right span:hover{
	color: #ffe001;
	background: #fff;
}
.ban_right ul{
	overflow: hidden;
	width: 100%;
}
.ban_right ul li{
	padding: 1.5%;
	border: 1px solid #ffe001;
	margin-top: 5%;
}
.ban_right ul li a{
	font:1.5rem/2 "微软雅黑";
}
.ban_right ul li a span{
	font: 1.5rem "微软雅黑";
	display: inline;
}
#tooltip{
	position: absolute;
	/*border: 2px solid #000;*/
	background: #ffe001;
	color:#fff;
	font: 2rem "微软雅黑";
	padding: 7px;
}